@import "../base/base.css";

.container {
  width: 1000px;
  display: grid;
  background-color: var(--primary-color);
  margin: 0 calc(50% - 500px);
  padding-top: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "kaire desine";
}

.kaire {
  grid-area: kaire;
  justify-self: start;
  background-color: var(--primary-color);
  justify-self: end;
}
.desine {
  display: grid;
  grid-area: desine;
  justify-self: center;
  background-color: var(--primary-color);
  align-self: center;
  grid-template-columns: 1fr;
  text-align: center;
  grid-template-areas:
    "title"
    "descr"
    "little"
    "btn";
}

.desine .title {
  grid-area: title;
  font-size: 90px;
  justify-self: center;
  color: var(--secondary-color);
}
.desine > .description {
  grid-area: descr;
  color: var(--secondary-color);
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 23px;
  text-align: center;
}
.little-description {
  grid-area: little;
  color: var(--secondary-color);
}
.btn {
  grid-area: btn;
  align-self: center;
  background-color: var(--secondary-color);
  justify-self: center;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  line-height: 2em;
  font-size: 13px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 1em;
}

@media (max-width: 756px) {
  .container {
    width: 500px;
    margin: 0 calc(50% - 250px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "kaire desine";
  }
  .kaire {
    justify-self: center;
  }
}
@media (max-width: 575px) {
  .container {
    width: 300px;
    margin: 0 calc(50% - 150px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "kaire"
      "desine";
  }
  .kaire {
    justify-self: center;
  }
}
